/* index.css */
:root {
  /* Light mode DEFAULT values */
  --text-primary: #333;
  --text-secondary: #666;
  --bg-primary: #ffffff;
  --button-bg: #ddcbf2;
  --button-text: #ffffff;
  --button-hover: #cbccf2;
  --border-color: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Iansui', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  transition: all 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}